<footer>

      <!-- <div class="row">

        <div class="row3">
            <div class="icon-panel">
            <p>北京市  海淀区  西北旺东路10号院 百度科技园</p>
            </div>
         </div>

         <div class="row1">
            <h3>百度数据可视化实验室</h3>
            <ul id="efe-product">
               <li><a href="https://tushuo.baidu.com/?fr=echarts" target="_blank">图说</a></li>
               <li><a href="https://ecomfe.github.io/san/?fr=echarts" target="_blank">Echarts</a></li>
               <li><a href="https://ecomfe.github.io/edp/?fr=echarts" target="_blank">Qtec</a></li>
               <li><a href="https://github.com/ecomfe/zrender?fr=echarts" target="_blank">ZRender</a></li>
               <li><a href="http://fecs.baidu.com/?fr=echarts" target="_blank">Gallery</a></li>
            </ul>
         </div>
         <div class="row2">
            <h3>友情链接</h3>
            <ul>
               <li><a href="https://fex.baidu.com/?fr=echarts" target="_blank">FEX</a></li>
               <li><a href="https://bit.baidu.com/?fr=echarts" target="_blank">百度技术学院</a></li>
               <li><a href="">SAN</a></li>
               <li><a href="">EDP</a></li>
               <li><a href="">FECS</a></li>
            </ul>
         </div>

   </div>
        </div>
         -->
        <div class="footer-copyright">
            <div class="copyright-text">
            <p>© 2017 百度 ECharts 团队出品</p>
            </div>

</footer>